.flex-1{
    flex: 1;
}
.flex-1-5{
    flex: 1.5;
}
.bg-grad{
    background: rgb(46,220,255);
    background: linear-gradient(0deg, rgba(46,220,255,1) 0%, rgba(110,110,255,1) 100%);
    width: 100%;
    height: 1440px;
    overflow-x: hidden;
}
.hero-card{
    width: 6em;
    height: 8.75em;
    background-color: white;
    text-align: center;
    padding:1px;
    text-align: center;
    margin: 5px 2.5px 5px 2.5px;
}

.hero-img{
    width: 7em;
    background-color: rgb(200, 221, 248);
    margin:2.5px;
    transition: 300ms;
    border: 1px solid black
}
.text-align-center{
    text-align: center;
}
.heroes-list-margin{
    margin: 10px 0 10px 0;
}
.title{
    font-size: 2.5em;
}
.role-filter{
    width: 8em;
    font-size: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
}
.unselected-role{
    opacity: 0.5;
}
.hide{
    display: none;
}
.margin-top-10{
    margin-top: 10em;
}
.current-hero{
    font-size: 3em;
}
.counter{
    font-size: 1.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:25em;
}
.counter-column{
    margin-right: 2em;
}
.against-margin{
    margin-left: 2em;
    padding-right: 7em;
}
.active-title{
    margin-left: 2.75em;
}
li{
    margin-right: 1.5em;
}